force-app/main/default/flows/enterpriseHandoffToAM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assignUPName</name>
        <label>assignUPName</label>
        <locationX>638</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>upAcctName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!getEBD.Account__r.Name} - [Ultimate Parent]</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ultimateParentExists</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>MCexists</name>
        <label>MCexists</label>
        <locationX>868</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>merchantCluster</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cluster_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MCID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>accountTeam</targetReference>
            </connector>
            <label>Cluster Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>ultimateParentExists</name>
        <label>ultimateParentExists</label>
        <locationX>630</locationX>
        <locationY>445</locationY>
        <defaultConnector>
            <targetReference>ultimateParent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getEBD.Account__r.SBS_Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ultimate Parent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>findCluster</targetReference>
            </connector>
            <label>Parent Exists</label>
        </rules>
    </decisions>
    <description>added EBD updates</description>
    <formulas>
        <name>forUPID</name>
        <dataType>String</dataType>
        <expression>IF( ISNULL({!ultimateParent}),{!acctId},{!ultimateParent})</expression>
    </formulas>
    <formulas>
        <name>MCIdChooser</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!MCID}),{!merchantCluster},{!MCID})</expression>
    </formulas>
    <interviewLabel>enterpriseHandoffToAM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>enterpriseHandoffToAM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>accountTeam</name>
        <label>accountTeam</label>
        <locationX>1163</locationX>
        <locationY>423</locationY>
        <connector>
            <targetReference>updateOriginalAcct</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>forUPID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Account Executive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>handoffAE.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>merchantCluster</name>
        <label>merchantCluster</label>
        <locationX>1163</locationX>
        <locationY>211</locationY>
        <connector>
            <targetReference>accountTeam</targetReference>
        </connector>
        <inputAssignments>
            <field>AM_Owner__c</field>
            <value>
                <elementReference>getEBD.AM_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BoB_Id__c</field>
            <value>
                <elementReference>getEBD.Book_of_Business_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Name__c</field>
            <value>
                <elementReference>getEBD.Account__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getEBD.AM_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ultimate_Parent__c</field>
            <value>
                <elementReference>forUPID</elementReference>
            </value>
        </inputAssignments>
        <object>Merchant_Cluster__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>ultimateParent</name>
        <label>ultimateParent</label>
        <locationX>784</locationX>
        <locationY>481</locationY>
        <connector>
            <targetReference>findCluster</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>upAcctName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getEBD.AM_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012E0000000Vcpu</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBS_Account_Type__c</field>
            <value>
                <stringValue>Ultimate Parent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBS_Book_of_Business_ID__c</field>
            <value>
                <elementReference>getEBD.Book_of_Business_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>findCluster</name>
        <label>findCluster</label>
        <locationX>784</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MCexists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BoB_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getEBD.Book_of_Business_ID__c</elementReference>
            </value>
        </filters>
        <object>Merchant_Cluster__c</object>
        <outputAssignments>
            <assignToReference>MCID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getEBD</name>
        <label>getEBD</label>
        <locationX>176</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>originAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EBDID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enterprise_Business_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>handoffAE</name>
        <label>handoffAE</label>
        <locationX>538</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignUPName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getEBD.Sales_Owner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>handoffAM</name>
        <label>handoffAM</label>
        <locationX>418</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>handoffAE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getEBD.AM_Owner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>originAccount</name>
        <label>originAccount</label>
        <locationX>300</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>handoffAM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getEBD.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateEBD</name>
        <label>updateEBD</label>
        <locationX>1029</locationX>
        <locationY>573</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getEBD.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Merchant_Cluster__c</field>
            <value>
                <elementReference>MCIdChooser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Transferred</stringValue>
            </value>
        </inputAssignments>
        <object>Enterprise_Business_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateOriginalAcct</name>
        <label>updateOriginalAcct</label>
        <locationX>1162</locationX>
        <locationY>573</locationY>
        <connector>
            <targetReference>updateEBD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getEBD.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>ultimateParent</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getEBD</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ultimateParentName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!originAccount.Name} - [Ultimate Parent]&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>acctId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>aeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>amID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>bobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>bobIdList</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EBDID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>maxBoBId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!maxMCId}+1</stringValue>
        </value>
    </variables>
    <variables>
        <name>maxMCId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MCID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>upAcctName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
