force-app/main/default/flows/Merchant_Cluster_Self_Serve_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assLargerBoB</name>
        <label>assLargerBoB</label>
        <locationX>1021</locationX>
        <locationY>716</locationY>
        <assignmentItems>
            <assignToReference>varBoBPrior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBoBCurrent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopBobjects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assMaxBoB</name>
        <label>assMaxBoB</label>
        <locationX>664</locationX>
        <locationY>714</locationY>
        <assignmentItems>
            <assignToReference>varMaxBobId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forMaxBoBId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>decActionType</name>
        <label>decActionType</label>
        <locationX>180</locationX>
        <locationY>70</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Remove_from_Cluster</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remove from Cluster</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>removeBoBId</targetReference>
            </connector>
            <label>Remove from Cluster</label>
        </rules>
        <rules>
            <name>Swap_Ownership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Swap Ownership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decFindBoBId</targetReference>
            </connector>
            <label>Swap Ownership</label>
        </rules>
        <rules>
            <name>Attach_to_Cluster</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varRequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactivate Cluster</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attach to Cluster</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decAddBusinessType</targetReference>
            </connector>
            <label>Attach to Cluster</label>
        </rules>
        <rules>
            <name>Deactivate_Cluster</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deactivate Cluster</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lookupBoBject_removal</targetReference>
            </connector>
            <label>Deactivate Cluster</label>
        </rules>
    </decisions>
    <decisions>
        <name>decAddBusinessType</name>
        <label>decAddBusinessType</label>
        <locationX>180</locationX>
        <locationY>376</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Reuse_Current_BoB_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAddBusinessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reuse current BoB Id</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decFindBoBId</targetReference>
            </connector>
            <label>Reuse Current BoB Id</label>
        </rules>
        <rules>
            <name>Create_new_Book_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAddBusinessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create new Book Id</stringValue>
                </rightValue>
            </conditions>
            <label>Create new Book Id</label>
        </rules>
        <rules>
            <name>Attach_to_an_existing_Book</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAddBusinessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attach to an existing Book</stringValue>
                </rightValue>
            </conditions>
            <label>Attach to an existing Book</label>
        </rules>
    </decisions>
    <decisions>
        <name>decFindBoBId</name>
        <label>decFindBoBId</label>
        <locationX>409</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>lookupBoBId_reuse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BoBId_is_Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varBoBId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varBoBId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0000000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>emptyornull</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lookupAccountMC</targetReference>
            </connector>
            <label>BoBId is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>decSwaporReuse</name>
        <label>decSwaporReuse</label>
        <locationX>941</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>updateBobject_reactivate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Swap</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Swap_Ownership</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lookupUser</targetReference>
            </connector>
            <label>Swap</label>
        </rules>
    </decisions>
    <decisions>
        <name>MaxBobId</name>
        <label>MaxBobId</label>
        <locationX>1021</locationX>
        <locationY>595</locationY>
        <defaultConnector>
            <targetReference>loopBobjects</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>bobIdIsGreater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBoBCurrent</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varBoBPrior</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assLargerBoB</targetReference>
            </connector>
            <label>bobIdIsGreater</label>
        </rules>
    </decisions>
    <description>trying to solve empty or null issue</description>
    <formulas>
        <name>chooseMCId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varSFDCBoBId}), {!varMCBoBId},{!varSFDCBoBId})</expression>
    </formulas>
    <formulas>
        <name>emptyornull</name>
        <dataType>Boolean</dataType>
        <expression>OR(ISBLANK({!varBoBId}),ISNULL({!varBoBId}))</expression>
    </formulas>
    <formulas>
        <name>forMaxBoBId</name>
        <dataType>Number</dataType>
        <expression>1+{!varBoBCurrent}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forMCSFDCchooser</name>
        <dataType>String</dataType>
        <expression>IF({!BoBId_is_Empty},{!varMCBoBId},{!varSFDCBoBId})</expression>
    </formulas>
    <interviewLabel>Merchant Cluster Self Serve Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Merchant Cluster Self Serve Automation</label>
    <loops>
        <name>loopBobjects</name>
        <label>loopBobjects</label>
        <locationX>665</locationX>
        <locationY>594</locationY>
        <assignNextValueToReference>varLoop</assignNextValueToReference>
        <collectionReference>listBobjects</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>assMaxBoB</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>lookupAccountMC</name>
        <label>lookupAccountMC</label>
        <locationX>739</locationX>
        <locationY>352</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decSwaporReuse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ultimate_Parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAcctId</elementReference>
            </value>
        </filters>
        <object>Merchant_Cluster__c</object>
        <outputAssignments>
            <assignToReference>varMCBoBId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookupBoBId_reuse</name>
        <label>lookupBoBId</label>
        <locationX>724</locationX>
        <locationY>427</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decSwaporReuse</targetReference>
        </connector>
        <object>Merchant_Cluster__c</object>
        <outputAssignments>
            <assignToReference>varSFDCBoBId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookupBobject</name>
        <label>lookupBobject</label>
        <locationX>482</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookupUser</targetReference>
        </connector>
        <object>Merchant_Cluster__c</object>
        <outputAssignments>
            <assignToReference>varSFDCBoBId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookupBoBject_removal</name>
        <label>lookupBoBject</label>
        <locationX>484</locationX>
        <locationY>270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>deactivateBobject</targetReference>
        </connector>
        <object>Merchant_Cluster__c</object>
        <outputAssignments>
            <assignToReference>varSFDCBoBId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookupBobjects</name>
        <label>lookupBobjects</label>
        <locationX>496</locationX>
        <locationY>592</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopBobjects</targetReference>
        </connector>
        <object>Merchant_Cluster__c</object>
        <outputReference>listBobjects</outputReference>
    </recordLookups>
    <recordLookups>
        <name>lookupUser</name>
        <label>lookupUser</label>
        <locationX>640</locationX>
        <locationY>171</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateBoBOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAMOwnerIdNew</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varOwnerIdSwap</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>deactivateBobject</name>
        <label>deactivateBobject</label>
        <locationX>651</locationX>
        <locationY>271</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSFDCBoBId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>Merchant_Cluster__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>removeBoBId</name>
        <label>removeBoBId</label>
        <locationX>482</locationX>
        <locationY>73</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAcctId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBS_Book_of_Business_ID__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateBoBIdtoAccount</name>
        <label>updateBoBIdtoAccount</label>
        <locationX>1084</locationX>
        <locationY>419</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAcctId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBS_Book_of_Business_ID__c</field>
            <value>
                <elementReference>varBoBId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateBobject_reactivate</name>
        <label>updateBobject</label>
        <locationX>968</locationX>
        <locationY>423</locationY>
        <connector>
            <targetReference>updateBoBIdtoAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>chooseMCId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Experimental_Status__c</field>
            <value>
                <stringValue>Treatment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Merchant_Cluster__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateBoBOwner</name>
        <label>updateBoBOwner</label>
        <locationX>800</locationX>
        <locationY>172</locationY>
        <connector>
            <targetReference>updateUPAccountOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forMCSFDCchooser</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AM_Owner__c</field>
            <value>
                <elementReference>varOwnerIdSwap</elementReference>
            </value>
        </inputAssignments>
        <object>Merchant_Cluster__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateUPAccountOwner</name>
        <label>updateUPAccountOwner</label>
        <locationX>925</locationX>
        <locationY>169</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAcctId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwnerIdSwap</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>decActionType</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>listBobjects</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Merchant_Cluster__c</objectType>
    </variables>
    <variables>
        <name>varAcctId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAddBusinessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAMOwnerIdNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBoBCurrent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varBoBId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBoBPrior</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Merchant_Cluster__c</objectType>
    </variables>
    <variables>
        <name>varMaxBobId</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varMCBoBId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOwnerIdSwap</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSFDCBoBId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
